body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color:lavenderblush;
}
.container{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:40px;
}
.login{
    width:300px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);

}

.btn{
    width:100%;
    padding:8px;
    background:#0077;
    color:-moz-only-whitespace;
    border:none;
    cursor:pointer;
}
.content {
    width: 1000px;
    height: 500px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}